@use "../../styles/variables" as *;
@use "../../styles/breakpoint" as *;

.container {
    display: flex;
}

.navbar {
    text-align: center;

    .title {
        padding: 10px;
    }

    .item {
        text-align: center;
    }
}

.search-wrapper {
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 16px;
    margin-left: 0;

    // @include mobile {
    //     margin-left: 24px;
    //     width: auto;
    // }

    .search-input {
        padding: 0 16px;
        height: 100%;
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-placeholder {
        color: inherit;
        padding: 4px 4px 4px 0;
        padding-left: calc(1em + 32px);
    }
}
