@use "../../styles/" as *;

$spacing-list: 20px;
$page-width: 90vw;

.container {
    color: $white-color;

}

.background {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    height: 60vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &:hover {
        .genres {
            visibility: visible;
        }
    }

    .genres {
        visibility: hidden;

        p {
            font-size: 12px;
            font-family: $font-family;
            color: $main-color;

        }

        *~* {
            margin-left: 20px;
        }

    }

    .icon {
        font-size: 50px;
        width: fit-content;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
            color: $main-color;
        }
    }
}