@use "../../styles/" as *;

$spacing-list: 20px;
$page-width: 90vw;

.container {
    color: $white-color;

}

.background {
    height: 60vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &:hover {
        .genres {
            visibility: visible;
        }
    }

    .genres {
        visibility: hidden;

        p {
            font-family: $font-family  !important;
            color: $main-color;
        }

    }
}