@use "../../styles/" as *;

.button {
    background-color: $main-color;
    border: 1px solid $main-color;
    word-spacing: 5px;
    color: $white-color;

    &:hover {
        background-color: transparent;
    }
}