.container {
    .title {
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .search-wrapper {
        position: relative;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.15);
        margin-right: 16px;
        margin-left: 0;
        margin-bottom: 1rem;

        // @include mobile {
        //     margin-left: 24px;
        //     width: auto;
        // }

        .search-input {
            padding: 0 16px;
            height: 100%;
            position: absolute;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .search-placeholder {
            color: inherit;
            padding: 4px 4px 4px 0;
            padding-left: calc(1em + 32px);
        }
    }
}

.total-result {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5rem;
}
