@use "../../styles/" as *;

.container {
    width: 90vw;
    margin: auto;

    .header {
        display: flex;
        margin: 1rem 0 2rem;

        .title {
            flex: 2;
            font-size: 2rem;
            font-weight: bold;
        }

        .search-wrapper {
            flex: 3;
            position: relative;
            border-radius: $border-radius;
            background-color: rgba(255, 255, 255, 0.15);

            .search-input {
                padding: 0 16px;
                height: 100%;
                position: absolute;
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .search-placeholder {
                color: inherit;
                padding: 4px 4px 4px 0;
                padding-left: calc(1em + 32px);

                input {
                    padding: 5px 0 5px;
                }
            }
        }
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.total-result {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5rem;
}
