@use "../../styles/" as *;

.container {
    height: 100vh;
    width: 100%;
}

.background {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.title {
    font-weight: bold;
    font-size: 15px;
    border-left: 5px solid $main-color;
    padding-left: $spacing;
    opacity: 0.8;
}

.name {
    width: fit-content;
    p:last-child {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
}

.description {
    align-items: center;

    & > * ~ * {
        margin: 10px 0;
    }
}

.rating {
    width: fit-content;
    align-items: center;
    color: green;

    .average {
        font-size: 12px;
        margin-left: -33px;
        margin-right: 20px;
    }
}

.genres {
    color: $main-color;
    width: fit-content;

    * ~ * {
        margin: 0 10px;
    }
}
