@use "../../styles/" as *;

.container {
    margin-top: 20px;

    .wrapper {
        .slice {
            img {
                border-radius: $border-radius;
                background-color: white;
            }
        }

        .name {
            font-size: 10px;
        }
    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }
}
