$mobile-width: 600px;
$tablet-width: 1024px;

$main-color: #e90101;
$primary-color: #181623;
$white-color: #fff;
$border-radius: 15px;
$footer-height: 56px;

$spacing: 10px;
$font-bold: 'MontBold';
$font-family: 'Mont';